@import 'normalize';
@import 'variables';
@import 'neat';

/************************************************************** Base */
/*********************************************************************/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: $bodyFont;
  background-color: $grey;
}

article, div, footer, header, li, nav, section {
  position: relative;
}

img {
  width: 100%;
  height: auto;
  float: left;
}

.perfect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/********************************************************* Structure */
/*********************************************************************/

header, footer {
  display: block;
  width: 100%;
  float: left;
}

.row {
  width: 100%;
  height: auto;
  float: left;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  @include grid-container();
}

.level {
  @include grid-collapse();
  @include grid-container();
}

.half {
  @include grid-column(6);
  &:nth-child(2n+1) {
    clear: left;
  }
}

.third {
  @include grid-column(4);
  &:nth-child(3n+1) {
    clear: left;
  }
}

.quarter {
  @include grid-column(3);
  &:nth-child(4n+1) {
    clear: left;
  }
}

.three-quarter {
  @include grid-column(9);
}

.two-third {
  @include grid-column(8);
}



/******************************************************** Typography */
/*********************************************************************/

h1, h2, h3, h4, h5, h6 {

}

h1 {

}

/************************************************************ Header */
/*********************************************************************/

header {
  background-color: $brandTertiary;
  padding: 20px;
  .logo {
    max-width: 140px;
    margin-right: 20px;
    float: left;
  }
  li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    &:last-of-type {
      margin-left: 0;
    }
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $brandPrimary;
      }
    }
  }
}

.language {
  display: inline-block;
  float: right;
  ul {
    li {
      margin-right: 0;
      margin-left: 10px;
      &:first-of-type {
        margin-left: 0;
      }
      img {
        max-width: 30px;
        height: auto;
        cursor: pointer;
      }
    }
  }
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: $brandSecondary;
  max-height: 30vh;
  overflow: scroll;
  li {
    width: 100%;
    display: block;
    list-style: none;
  }
}

/******************************************************** Breadcrumb */
/*********************************************************************/

.breadcrumbs {
  padding-left: 0;
  li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
    &:after {
      content: '|';
      position: absolute;
      top: 0;
      right: 0;
      color: $brandSecondary;
    }
    &:last-of-type {
      margin-right: 0;
      padding-right: 0;
      &:after {
        content: none;
      }
    }
    a {
      color: $black;
      text-decoration: none;
    }
  }
}



/****************************************************** Hero Section */
/*********************************************************************/

.hero {
  float: left;
  width: 100%;
  min-height: 400px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .overlay {
    background: rgba($black, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }
  h2 {
    color: $brandPrimary;
  }
  h3 {
    color: $white;
  }
}



/**************************************************** Product Single */
/*********************************************************************/

.product-extras {
  margin-top: 40px;
  .table-row {
    width: 100%;
    float: left;
    padding: 10px;
    &:nth-of-type(odd) {
      background-color: $white;
    }
    span {
      float: left;
      &:last-of-type {
        float: right;
      }
    }
  }
}



/****************************************************** News Archive */
/*********************************************************************/

.link-more {
  display: none;
}


/************************************************************ Footer */
/*********************************************************************/

footer {
  background-color: $brandTertiary;
  padding: 20px 0;
  margin-top: 60px;
  h4, p, a {
    color: $white;
  }
}
