<div *ngFor="let home of homePage" class="row">

  <div class="row" *ngIf="home.acf">
    <div class="hero" [style.backgroundImage]="'url('+ home.acf.hero_background_image.url +')'">
      <div class="overlay"></div>
      <div class="perfect">
        <h2>{{ home.acf.hero_title }}</h2>
        <h3>{{ home.acf.hero_subtitle }}</h3>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="container">
      <div class="level">
        <div class="three-quarter">
          <div *ngIf="homePage">
            <h1>{{ home.title ? home.title.rendered : "..." }}</h1>
            <div [innerHtml]="home.content.rendered" *ngIf="home.content"></div>
          </div>
        </div>
        <div class="quarter">

        </div>
      </div>
    </div>
  </div>

</div>
