<div class="row">
  <div class="container">
    <div class="level">
      <div class="three-quarter">
        <div *ngFor="let page of singlePage">
          <h1>{{ page && page.title ? page.title.rendered : "..." }}</h1>
          <div [innerHtml]="page.content.rendered" *ngIf="page && page.content"></div>
        </div>
      </div>
      <div class="quarter">

      </div>
    </div>
  </div>
</div>
