<div class="row">
  <div class="container">
    <ul class="breadcrumbs">
      <li *ngFor="let b of breadcrumbs.slice().reverse(); let i=index;">
        <a routerLink="/product-options/{{b.ID}}" (click)="getProduct()">
          {{b.Name}}
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Return the product part name -->
<div class="row" *ngIf="productChildren != ''">
  <div class="container">
    <h1>{{ product.Name }}</h1>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="level">

      <div class="third" *ngFor="let p of productChildren; let i=index;">

        <!-- Return the product name -->
        <a routerLink="/product-options/{{p.ID}}" (click)="getProduct()">
          <h3>{{ p.Name }}</h3>
        </a>

        <!-- Return the sub product attributes -->
        <div *ngFor="let subAttribute of subAttributes[i]">
          <div *ngIf="subAttribute.Title === 'EC_ProductImage1_Medium';">
            <img src="{{ subAttribute.Value }}" alt="{{ subAttribute.Label }}" />
          </div>
          <div *ngIf="subAttribute.Title === 'EC_ProductDescription'">
            AKA: {{ subAttribute.Value }}
          </div>
        </div>

        <!-- Return the sub product names -->
        <div class="three-quarter" *ngFor="let subProd of subProduct[i]">
          <a routerLink="/product-options/{{subProd.ID}}" (click)="getProduct()">{{ subProd.Name }}</a>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="level">

      <div class="three-quarter">

        <!-- Get product basic information defined from the array -->
        <div class="product-meta">
          <div *ngIf="pageName">
            <h1>{{ pageName.Value }}</h1>
            <span>ID = {{ pageName.Parent }}</span>
          </div>
          <div *ngIf="productDescription">
            <h2>{{ productDescription.Value }}</h2>
          </div>
          <div *ngIf="tradePrice">
            <h3>Trade Price: {{ tradePrice.Value | currency:'GBP':'symbol' }} {{ unit.Value }}</h3>
          </div>
          <div *ngIf="description">
            {{ description.Value }}
          </div>
        </div>

        <!-- List the product extras that we have defined from the array -->
        <div class="product-extras" *ngIf="productChildren == ''">
          <div class="table-row" *ngIf="catalogueName">
            <span>{{ catalogueName.Description }}:</span>
            <span>{{ catalogueName.Value }}</span>
          </div>
          <div class="table-row" *ngIf="cataloguePage">
            <span>{{ cataloguePage.Description }}:</span>
            <span><a href="{{ cataloguePage.Value }}" target="_blank">Catalogue Page</a></span>
          </div>
          <div class="table-row" *ngIf="warranty">
            <span>{{ warranty.Description }}:</span>
            <span>{{ warranty.Value }}</span>
          </div>
          <div class="table-row" *ngIf="ipRating">
            <span>{{ ipRating.Description }}:</span>
            <span>{{ ipRating.Value }}</span>
          </div>
        </div>

        <!-- List the product features that we have defined from the array -->
        <div class="product-features" *ngIf="productChildren == ''">
          <h2>Features</h2>
          <ul>
            <li *ngIf="featOne">
              <span>{{ featOne.Value }}</span>
            </li>
            <li *ngIf="featTwo">
              <span>{{ featTwo.Value }}</span>
            </li>
            <li *ngIf="featThree">
              <span>{{ featThree.Value }}</span>
            </li>
            <li *ngIf="featFour">
              <span>{{ featFour.Value }}</span>
            </li>
          </ul>
        </div>

        <!-- Print out all of the available attributes associated with this node -->
        <div class="row">
          <h2>All product attributes</h2>
          <ul>
            <li *ngFor="let a of attributes">
              <strong>{{ a.Title }}</strong> - {{ a.Value }}
            </li>
          </ul>
        </div>

    </div>

    <!-- Show an image for the product and get the catalogue data from the array -->
    <div class="quarter" *ngIf="productChildren == ''">
      <div class="row">
        <div *ngIf="mainImage;else default_image">
          <img src="{{mainImage.Value}}" alt="{{mainImage.Label}}" />
        </div>
        <ng-template #default_image>
          <img src="http://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg" alt="Default image." />
        </ng-template>
        <div class="level">
          <div class="third" *ngIf="imageTwo">
            <img src="{{imageTwo.Value}}" alt="{{imageTwo.Label}}" />
          </div>
          <div class="third" *ngIf="imageThree">
            <img src="{{imageThree.Value}}" alt="{{imageThree.Label}}" />
          </div>
          <div class="third" *ngIf="imageFour">
            <img src="{{imageFour.Value}}" alt="{{imageFour.Label}}" />
          </div>
        </div>
      </div>
      <div *ngIf="cataloguePage">
        <a href="{{cataloguePage.Value}}" target="_blank">Catalogue Page</a>
      </div>
    </div>

  </div>
</div>
