<header>
  <div class="logo" *ngIf="compLogo.Value">
    <img src="{{compLogo.Value}}" alt="{{compLogo.Label}}">
  </div>
  <nav>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    <li><a routerLink="/parts" routerLinkActive="active">Parts</a></li>
    <li><a routerLink="/ranges" routerLinkActive="active">Ranges</a></li>
    <li><a routerLink="/news" routerLinkActive="active">News</a></li>
  </nav>
  <div class="language">
    <ul>
      <li *ngFor="let l of language" [id]="l.id" (click)="setLanguage(l.name)">
        <img src="assets/images/flag_{{ l.name }}.png">
      </li>
    </ul>
  </div>
  <div class="search">
    <input #searchBox type="search" placeholder="Search.." (keyup)="searchProduct(searchBox.value)">
  </div>
  <div *ngIf="searchResult != ''" class="row search-results">
    <ul>
      <li *ngFor="let result of searchResult">
        <a routerLink="/product-options/{{ result.ID }}">{{ result.Name }}</a>
      </li>
    </ul>
  </div>
</header>

<router-outlet></router-outlet>


<footer>
  <div class="row">
    <div class="container">
      <div class="level">
        <div class="quarter">
          <h4>Address</h4>
          <div *ngIf="compStreet.Value">
            <p>{{compStreet.Value}},<br />
            {{compCity.Value}},<br />
            {{compCountry.Value}},<br />
            {{compPostCode.Value}}</p>
          </div>
        </div>
        <div class="quarter">
          <h4>Pages</h4>
          <div *ngIf="wpPages">
            <li *ngFor="let page of wpPages.slice().reverse()">
              <a href="page/{{ page.slug }}">{{ page.title.rendered }}</a>
            </li>
          </div>
        </div>
        <div class="quarter">

        </div>
        <div class="quarter">
          <h4>Contact Us</h4>
          <div *ngIf="compPhone.Value">
            <p>Tel: <a href="">{{compPhone.Value}}</a></p>
          </div>
          <div *ngIf="compPhone.Value">
            <p>Email: <a href="">{{compEmail.Value}}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
