
<div class="row">
  <div class="container">
    <div class="level">
      <div class="third" *ngFor="let post of posts">
        <div>
          <h2>{{ post.title.rendered }}</h2>
          <!-- <img [src]="post['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url"> -->
          <p [innerHTML]="post.excerpt.rendered"></p>
          <a href="news/{{post.slug}}">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
