
<div class="row">
  <div class="container">
    <h1>Luceco Lighting</h1>
  </div>
</div>


<div class="row">
  <div class="container">
    <h2>Product Categories</h2>
    <div class="level">
      <div class="third" *ngFor="let product of products; let i=index;">
        <a routerLink="/product-options/{{product.ID}}">
          <h3>{{ product.Name }}</h3>
        </a>
        <ul>
          <li *ngFor="let subProduct of subProducts[i];">
            <a href="/product-options/{{ subProduct.ID }}">{{ subProduct.Name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
