<div class="row" *ngFor="let post of singlePost">

  <div class="container">
    <div class="breadcrumbs">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/news" routerLinkActive="active">News</a></li>
      <li>{{ post && post.title ? post.title.rendered : "..." }}</li>
    </div>
  </div>

  <div class="container">
    <div class="level">
      <div class="three-quarter">
        <h1>{{ post && post.title ? post.title.rendered : "..." }}</h1>
        <p *ngIf="post && post.date">Date posted: {{post.date | date:'longDate'}}</p>
        <div [innerHtml]="post.content.rendered" *ngIf="post && post.content"></div>
      </div>
      <div class="quarter">

      </div>
    </div>
  </div>

</div>
