<div class="row">
  <div class="container">
    <h1>Luceco Lighting</h1>
  </div>
</div>

<div class="row">
  <!-- NOTE: Hidden the part return. See component note for more information. -->
  <div class="container">
    <div class="row">
      <div class="level">
        <div class="quarter">
          <h2>Part Filter:</h2>
        </div>
        <div class="three-quarter">
          <div class="level">
            <!-- List all of the parts connected to the main node -->
            <div *ngFor="let product of products; let i=index;">
                <li class="third" *ngFor="let partBranch of partTree[i]">
                  <a href="/product-options/{{ partBranch.ID }}">
                    {{ partBranch.Name }}
                  </a>
                </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
