<div class="row">
  <div class="container">
    <h1>Luceco Lighting</h1>
  </div>
</div>


<div class="row">
  <div class="container">
    <h2>Product Ranges</h2>
    <div class="level">
      <div class="third" *ngFor="let range of ranges; let i=index;">
        <a routerLink="/product-options/{{range.ID}}">
          <h3>{{ range.Name }}</h3>
        </a>
        <ul>
          <li *ngFor="let rangePart of rangeParts[i];">
            <a href="/product-options/{{ rangePart.ID }}">{{ rangePart.Name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
